<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gossip</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="public/x-icon" href="./public/chat (1).png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="main" class="bg-gradient-to-r from-cyan-500 to-blue-500 font-['Montserrat'] p-[5rem] h-screen flex">
        <!-- <div  id="image" class="h-full w-full object-fit">
            <img  src="./public/chatui4.svg" alt="logo" class="h-[45rem] w-[45rem] outline-none">
        </div> -->
        <div id="bg">

        </div>
        <div id="box"
            class="bg-gradient-to-l from-cyan-500 to-blue-500 w-1/2 flex items-center justify-center flex-col gap-10 m-5 border-2 border-white rounded-[2rem]">
            <div class="text-5xl font-bold text-white">
                <i class="ri-chat-3-line"></i>
                GOSSIP
            </div>

            <form action="/join" method="post" class="flex flex-col gap-8">

                <div class="flex flex-col gap-2">
                    <label for="room" class="text-xl font-medium text-white">Room Name</label>
                    <input type="text" id="room" name="room" autocomplete="off" placeholder="Enter Room name..."
                        class="border-4 border-cyan-300  outline-none px-4 py-2 rounded-3xl w-[18rem]">
                </div>

                <div class="flex flex-col gap-2">
                    <label for="user" class="text-xl font-medium text-white">User Name</label>
                    <input type="text" id="user" name="user" autocomplete="off" placeholder="Enter User Name..."
                        class="border-4 border-cyan-300  outline-none px-4 py-2 rounded-3xl w-[18rem]">
                </div>

                <div
                    class="hover:bg-white hover:text-cyan-300 transition border-2 border-cyan-300  w-fit m-auto px-6 py-2 font-bold text-xl text-white bg-cyan-300  rounded-3xl">
                    <button type="submit">Join</button>
                </div>
            </form>
        </div>

    </div>

    <script src="./main.js"></script>
</body>

</html>